/*@media only screen and (min-width: 768px) and (max-width: 1023px) {
.clearleft{clear:none;}
.oza-footer {background:url(../images/footer-bg.png) no-repeat 100% 100% #fff;padding-top:150px;padding-bottom:125px;}
}*/
 /*Animation effects for logo*/
/*.logo {
  position: relative;
  left:0px;
  top:-130px;
    /* Chrome, Safari, Opera */
   /* -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
 /*   animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
/*@-webkit-keyframes example {
 0% { left:0px; top:0px;}
  100% { left:100px; top:0px;}
}

/* Standard syntax */
/*@keyframes example {
 
  0% { left:0px; top:0px;}
  100% { left:50px; top:0px;}
}*/